input[type=button], input[type=submit]{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 2px;
    font-size: 120%;
    text-decoration: none;


}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }  
input[type=reset]{
    background-color: #aa0404;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 2px;
    font-size: 120%;
    display: inline-block;
    text-decoration: none;
    

}